<html>
  <head>
    <title>Memory Game</title>
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <link rel="stylesheet" type="text/css" href="styles/card.css">

    <script src="src/js/angular.min.js"></script>
    <script src="src/js/jquery-1.11.1.min.js"></script>
    <script src="src/js/jquery-ui.min.js"></script>
    <script src="src/js/jquery.flip.min.js"></script>
    <script src='src/js/underscore-min.js'></script>
    <script src="src/js/controllers.js"></script>
    <script src="src/js/card.js"></script>
    <script src="src/js/main.js"></script>
  </head>
  <body ng-app='memoryApp'>
    <div class='container' ng-controller='CardsCtrl'>

      <div ng-repeat='card in cards' ng-click='card.flipCard()'
          ng-class="{'card' : !card.flipped && !card.position, 'card flipped': card.flipped,
          'card left': card.position == 'left', 'card right': card.position == 'right'}">
        <img ng-src='{{card.back}}' class='back side'>
        <div class='face side'>
          <img ng-src='{{card.logo}}' class='logo'>
        </div>
      </div>

    </div>
  </body>
</html>
